[Unit]
Description=Apply bootc updates
Documentation=man:bootc(8)
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "[ \"$(sudo bootc status --format json --format-version 1 | yq -pj -oj -I=0 .status.staged)\" != \"null\" ] && echo \"we should reboot the vm\""
