---
name: ISO, Almalinux

on:
  workflow_dispatch:
  push:
    paths:
      - kickstart/alma.ks
    branches:
      - main

env:
  URL: https://repo.almalinux.org/almalinux/9.6/isos/x86_64/AlmaLinux-9.6-x86_64-minimal.iso

# credit:
# https://dailystuff.nl/blog/2023/create-a-kickstart-iso#manual-procedure
# https://old.reddit.com/r/AlmaLinux/comments/1erxp8c/kickstart_unable_to_setup/

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: quay.io/almalinuxorg/9-base:9.6-20250803
      options: --privileged

    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Determine tag
        id: tag
        env:
          sha: ${{ github.sha }}
          job: ${{ github.run_number }}
        run: |-
          echo "TAG=$(cat almalinux/Containerfile | head -1 | sed -E "s/.+:(.+)/\1/g")-$job-$(echo ${sha:0:8})" >> $GITHUB_OUTPUT
          mkdir -p bootiso

      - name: Get container tools in builder
        run: dnf install -y lorax

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache
        with:
          path: /tmp/iso
          key: ${{ runner.os }}-almalinux-server-dvd

      - name: Pull iso
        if: steps.cache.outputs.cache-hit != 'true'
        run: |-
          mkdir -p /tmp/iso
          curl -L -o /tmp/iso/almalinux-server-dvd-9.iso ${{ env.URL }}

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: /tmp/iso
          key: ${{ runner.os }}-almalinux-server-dvd

      - name: Generate iso
        run: |-
          mkksiso --ks kickstart/alma.ks /tmp/iso/almalinux-server-dvd-9.iso almalinux-${{ steps.tag.outputs.TAG }}.iso

      - name: Upload Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: almalinux-${{ steps.tag.outputs.TAG }}
          path: almalinux-${{ steps.tag.outputs.TAG }}.iso
          retention-days: 1
