---
name: Check Renovate PR
on:
  pull_request:
    branches:
      - main
jobs:
  check:
    name: renovate-config
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Clone repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: commit-check/commit-check-action@a0193b1ca486178b85d7a1db145af34cd227f81f # v2.1.1
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          author-name: true
          author-email: true
